.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ps_ff1;src:url("fonts/ps_f1.woff")format("woff");}.ps_ff1{font-family:ps_ff1;line-height:1.129000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ps_ff2;src:url("fonts/ps_f2.woff")format("woff");}.ps_ff2{font-family:ps_ff2;line-height:1.124000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ps_ff3;src:url("fonts/ps_f3.woff")format("woff");}.ps_ff3{font-family:ps_ff3;line-height:1.570312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ps_ff4;src:url("fonts/ps_f4.woff")format("woff");}.ps_ff4{font-family:ps_ff4;line-height:1.124000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ps_ff5;src:url("fonts/ps_f5.woff")format("woff");}.ps_ff5{font-family:ps_ff5;line-height:1.129000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ps_ff6;src:url("fonts/ps_f6.woff")format("woff");}.ps_ff6{font-family:ps_ff6;line-height:0.673000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ps_ff7;src:url("fonts/ps_f7.woff")format("woff");}.ps_ff7{font-family:ps_ff7;line-height:1.124000;font-style:normal;font-weight:normal;visibility:visible;}
.ps_m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.ps_m2{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.ps_m1{transform:matrix(0.375004,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375004,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375004,0.000000,0.000000,0.375000,0,0);}
.ps_ls0{letter-spacing:0.000000px;}
.ps_sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.ps_sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ps_ws0{word-spacing:0.000000px;}
.ps__1{width:24.696000px;}
.ps__2{width:25.704000px;}
.ps__0{width:27.360000px;}
.ps__4{width:79.955600px;}
.ps__3{width:343.281200px;}
.ps_fc4{color:rgb(158,161,161);}
.ps_fc3{color:rgb(35,31,32);}
.ps_fc0{color:rgb(10,10,13);}
.ps_fc2{color:rgb(255,255,255);}
.ps_fc1{color:rgb(0,0,0);}
.ps_fs8{font-size:12.000000px;}
.ps_fs7{font-size:16.000000px;}
.ps_fsc{font-size:18.000000px;}
.ps_fs6{font-size:23.000000px;}
.ps_fs0{font-size:24.000000px;}
.ps_fsb{font-size:24.999761px;}
.ps_fs9{font-size:25.000000px;}
.ps_fs1{font-size:26.000000px;}
.ps_fs2{font-size:28.000000px;}
.ps_fsa{font-size:31.999694px;}
.ps_fs4{font-size:32.000000px;}
.ps_fs5{font-size:39.244000px;}
.ps_fs3{font-size:44.992000px;}
.ps_y0{bottom:0.000000px;}
.ps_y55{bottom:2.260950px;}
.ps_y12{bottom:2.266050px;}
.ps_y57{bottom:2.971500px;}
.ps_yb{bottom:4.314900px;}
.ps_y17{bottom:4.345308px;}
.ps_y1a{bottom:4.348350px;}
.ps_y3b{bottom:4.348500px;}
.ps_y14{bottom:4.354500px;}
.ps_y16{bottom:4.388208px;}
.ps_y19{bottom:4.388250px;}
.ps_y1c{bottom:4.389000px;}
.ps_y4c{bottom:4.389150px;}
.ps_y1e{bottom:4.389750px;}
.ps_y5{bottom:4.940550px;}
.ps_yd{bottom:5.113500px;}
.ps_yf{bottom:5.278800px;}
.ps_y11{bottom:6.766050px;}
.ps_y9{bottom:11.341650px;}
.ps_y7{bottom:16.311900px;}
.ps_y54{bottom:24.450000px;}
.ps_y53{bottom:34.039950px;}
.ps_y52{bottom:49.747950px;}
.ps_y51{bottom:65.457450px;}
.ps_y50{bottom:81.166950px;}
.ps_y4f{bottom:96.876450px;}
.ps_y4e{bottom:112.584450px;}
.ps_y4d{bottom:128.293950px;}
.ps_y4b{bottom:144.003450px;}
.ps_y4a{bottom:159.711000px;}
.ps_y49{bottom:175.420500px;}
.ps_y48{bottom:191.130000px;}
.ps_y47{bottom:206.838000px;}
.ps_y46{bottom:222.547500px;}
.ps_y45{bottom:238.257000px;}
.ps_y44{bottom:253.966500px;}
.ps_y43{bottom:269.674500px;}
.ps_y42{bottom:285.384000px;}
.ps_y41{bottom:301.093500px;}
.ps_y40{bottom:316.801500px;}
.ps_y3e{bottom:332.511000px;}
.ps_y3f{bottom:332.514000px;}
.ps_y3d{bottom:348.220500px;}
.ps_y3c{bottom:363.928500px;}
.ps_y3a{bottom:379.638000px;}
.ps_y39{bottom:395.347500px;}
.ps_y38{bottom:411.057000px;}
.ps_y37{bottom:426.765000px;}
.ps_y36{bottom:442.474500px;}
.ps_y35{bottom:458.184000px;}
.ps_y34{bottom:473.892000px;}
.ps_y33{bottom:489.601500px;}
.ps_y32{bottom:505.311000px;}
.ps_y31{bottom:521.020500px;}
.ps_y30{bottom:536.728500px;}
.ps_y2f{bottom:552.438000px;}
.ps_y2e{bottom:568.147500px;}
.ps_y2d{bottom:583.855500px;}
.ps_y2c{bottom:599.565000px;}
.ps_y2b{bottom:615.274500px;}
.ps_y2a{bottom:630.982500px;}
.ps_y29{bottom:646.692000px;}
.ps_y28{bottom:662.401500px;}
.ps_y27{bottom:678.111000px;}
.ps_y26{bottom:693.819000px;}
.ps_y25{bottom:709.528500px;}
.ps_y24{bottom:725.238000px;}
.ps_y23{bottom:740.946000px;}
.ps_y22{bottom:756.655500px;}
.ps_y21{bottom:772.365000px;}
.ps_y20{bottom:788.074500px;}
.ps_y1f{bottom:803.782500px;}
.ps_y1d{bottom:819.492000px;}
.ps_y1b{bottom:835.201500px;}
.ps_y18{bottom:850.909500px;}
.ps_y15{bottom:866.619000px;}
.ps_y13{bottom:882.322500px;}
.ps_y10{bottom:883.339995px;}
.ps_ye{bottom:898.042500px;}
.ps_yc{bottom:920.167500px;}
.ps_y6{bottom:945.301500px;}
.ps_y8{bottom:962.581500px;}
.ps_ya{bottom:971.221500px;}
.ps_y3{bottom:1035.427650px;}
.ps_y2{bottom:1048.735800px;}
.ps_y4{bottom:1061.572500px;}
.ps_y1{bottom:1097.023650px;}
.ps_y56{bottom:1145.910000px;}
.ps_h1c{height:8.550000px;}
.ps_h12{height:10.560000px;}
.ps_h11{height:11.480295px;}
.ps_h1e{height:12.000000px;}
.ps_h1d{height:15.534000px;}
.ps_h15{height:15.703500px;}
.ps_hf{height:15.705000px;}
.ps_h1b{height:15.707550px;}
.ps_h1a{height:15.708000px;}
.ps_h18{height:15.709500px;}
.ps_h13{height:15.720000px;}
.ps_hd{height:16.494000px;}
.ps_hb{height:19.636500px;}
.ps_h10{height:19.849000px;}
.ps_h2{height:20.832000px;}
.ps_h3{height:22.438000px;}
.ps_h5{height:22.500000px;}
.ps_h8{height:22.568000px;}
.ps_he{height:24.164000px;}
.ps_h4{height:24.304000px;}
.ps_ha{height:27.616000px;}
.ps_h16{height:27.775735px;}
.ps_h19{height:27.776000px;}
.ps_h17{height:28.979215px;}
.ps_h14{height:28.979492px;}
.ps_h9{height:29.847000px;}
.ps_hc{height:45.490848px;}
.ps_h6{height:52.153812px;}
.ps_h7{height:62.050500px;}
.ps_h1{height:1188.003000px;}
.ps_h0{height:1188.006000px;}
.ps_w13{width:11.480295px;}
.ps_w12{width:13.746000px;}
.ps_w15{width:15.054600px;}
.ps_w9{width:16.363500px;}
.ps_wc{width:21.600000px;}
.ps_w10{width:28.800000px;}
.ps_we{width:31.419000px;}
.ps_wd{width:35.998500px;}
.ps_wf{width:49.090500px;}
.ps_w11{width:60.219000px;}
.ps_w6{width:80.901000px;}
.ps_w7{width:85.614000px;}
.ps_w17{width:87.000000px;}
.ps_w5{width:88.756500px;}
.ps_wa{width:107.999550px;}
.ps_w14{width:108.001050px;}
.ps_w2{width:229.909650px;}
.ps_w4{width:282.762300px;}
.ps_w16{width:403.950000px;}
.ps_w8{width:415.504500px;}
.ps_wb{width:428.725500px;}
.ps_w3{width:824.879400px;}
.ps_w1{width:892.366500px;}
.ps_w0{width:892.911000px;}
.ps_x0{left:0.544500px;}
.ps_x11{left:2.449500px;}
.ps_x1a{left:4.326000px;}
.ps_x21{left:6.474000px;}
.ps_xe{left:23.151000px;}
.ps_xc{left:31.450500px;}
.ps_x6{left:33.774450px;}
.ps_x1c{left:36.316845px;}
.ps_x1d{left:42.525000px;}
.ps_x8{left:46.341600px;}
.ps_x12{left:51.547950px;}
.ps_x5{left:58.524038px;}
.ps_x4{left:71.102850px;}
.ps_x9{left:84.995820px;}
.ps_x3{left:101.497500px;}
.ps_x1f{left:118.335000px;}
.ps_x10{left:161.847000px;}
.ps_xf{left:238.777500px;}
.ps_x7{left:335.111967px;}
.ps_x1{left:365.110800px;}
.ps_xa{left:380.158500px;}
.ps_x1e{left:446.475000px;}
.ps_x20{left:550.527000px;}
.ps_x2{left:566.579550px;}
.ps_x13{left:591.547500px;}
.ps_xb{left:597.729000px;}
.ps_x14{left:614.457000px;}
.ps_x15{left:651.765000px;}
.ps_x16{left:685.147500px;}
.ps_xd{left:709.263000px;}
.ps_x17{left:735.547500px;}
.ps_x18{left:765.655500px;}
.ps_x19{left:827.182500px;}
.ps_x1b{left:842.238000px;}