.ff0 {
	font-family: sans-serif;
	visibility: hidden;
}

@font-face {
	font-family: ff1;
	src: url(f1.woff)format("woff");
}

.ff1 {
	font-family: ff1;
	line-height: 1.124000;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}

@font-face {
	font-family: ff2;
	src: url(f2.woff)format("woff");
}

.ff2 {
	font-family: ff2;
	line-height: 1.129000;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}

@font-face {
	font-family: ff3;
	src: url(f3.woff)format("woff");
}

.ff3 {
	font-family: ff3;
	line-height: 1.124000;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}

@font-face {
	font-family: ff4;
	src: url(f4.woff)format("woff");
}

.ff4 {
	font-family: ff4;
	line-height: 1.570312;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}

@font-face {
	font-family: ff5;
	src: url(f5.woff)format("woff");
}

.ff5 {
	font-family: ff5;
	line-height: 1.124000;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}

@font-face {
	font-family: ff6;
	src: url(f6.woff)format("woff");
}

.ff6 {
	font-family: ff6;
	line-height: 1.129000;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}

.m0 {
	transform: matrix(0.375000, 0.000000, 0.000000, 0.375000, 0, 0);
	-ms-transform: matrix(0.375000, 0.000000, 0.000000, 0.375000, 0, 0);
	-webkit-transform: matrix(0.375000, 0.000000, 0.000000, 0.375000, 0, 0);
}

.v0 {
	vertical-align: 0.000000px;
}

.ls1 {
	letter-spacing: -1.127000px;
}

.ls0 {
	letter-spacing: 0.000000px;
}

.ls2 {
	letter-spacing: 0.144000px;
}

.sc_ {
	text-shadow: none;
}

.sc0 {
	text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.sc_ {
		-webkit-text-stroke: 0px transparent;
	}

	.sc0 {
		-webkit-text-stroke: 0.015em transparent;
		text-shadow: none;
	}
}

.ws2 {
	word-spacing: -0.144000px;
}

.ws0 {
	word-spacing: 0.000000px;
}

.ws1 {
	word-spacing: 1.127000px;
}

._3 {
	width: 21.344000px;
}

._2 {
	width: 54.372000px;
}

._5 {
	width: 268.824000px;
}

._4 {
	width: 344.793000px;
}

._1 {
	width: 465.658000px;
}

._0 {
	width: 1147.700000px;
}

.fc7 {
	color: transparent;
}

.fc6 {
	color: rgb(158, 161, 161);
}

.fc4 {
	color: rgb(0, 4, 12);
}

.fc3 {
	color: rgb(156, 154, 155);
}

.fc5 {
	color: rgb(0, 0, 0);
}

.fc2 {
	color: rgb(255, 255, 255);
}

.fc1 {
	color: rgb(5, 6, 6);
}

.fc0 {
	color: rgb(10, 10, 13);
}

.fs5 {
	font-size: 18.000000px;
}

.fs0 {
	font-size: 23.000000px;
}

.fs3 {
	font-size: 24.000000px;
}

.fs2 {
	font-size: 26.000000px;
}

.fs1 {
	font-size: 28.000000px;
}

.fs4 {
	font-size: 33.032000px;
}

.y0 {
	bottom: 0.000000px;
}

.y2b {
	bottom: 0.721500px;
}

.y4b {
	bottom: 2.260950px;
}

.y1e {
	bottom: 3.617100px;
}

.y16 {
	bottom: 5.838900px;
}

.y4a {
	bottom: 24.450000px;
}

.y14 {
	bottom: 39.926700px;
}

.y13 {
	bottom: 40.618950px;
}

.y1c {
	bottom: 179.988825px;
}

.y12 {
	bottom: 180.355950px;
}

.y11 {
	bottom: 183.746400px;
}

.y31 {
	bottom: 183.900000px;
}

.y29 {
	bottom: 195.189000px;
}

.y49 {
	bottom: 200.586000px;
}

.y28 {
	bottom: 214.702500px;
}

.y48 {
	bottom: 220.099500px;
}

.y27 {
	bottom: 234.201000px;
}

.y47 {
	bottom: 239.598000px;
}

.y26 {
	bottom: 253.695000px;
}

.y46 {
	bottom: 259.090500px;
}

.y25 {
	bottom: 273.208500px;
}

.y45 {
	bottom: 278.604000px;
}

.y24 {
	bottom: 292.707000px;
}

.y44 {
	bottom: 298.102500px;
}

.y10 {
	bottom: 312.051900px;
}

.y20 {
	bottom: 324.183000px;
}

.y23 {
	bottom: 324.187500px;
}

.y40 {
	bottom: 329.578500px;
}

.y43 {
	bottom: 329.584500px;
}

.y1b {
	bottom: 335.882325px;
}

.yf {
	bottom: 341.152650px;
}

.y30 {
	bottom: 341.293500px;
}

.y1f {
	bottom: 343.696500px;
}

.y22 {
	bottom: 343.701000px;
}

.y3f {
	bottom: 349.092000px;
}

.y42 {
	bottom: 349.098000px;
}

.y1d {
	bottom: 363.195000px;
}

.y21 {
	bottom: 363.199500px;
}

.y3e {
	bottom: 368.590500px;
}

.y41 {
	bottom: 368.596500px;
}

.ye {
	bottom: 382.552650px;
}

.yd {
	bottom: 422.014050px;
}

.y3d {
	bottom: 442.068000px;
}

.y3c {
	bottom: 461.568000px;
}

.y3b {
	bottom: 481.068000px;
}

.y1a {
	bottom: 491.883825px;
}

.yc {
	bottom: 497.149425px;
}

.y2f {
	bottom: 497.295000px;
}

.y3a {
	bottom: 500.583000px;
}

.y39 {
	bottom: 520.068000px;
}

.y38 {
	bottom: 539.568000px;
}

.y37 {
	bottom: 559.068000px;
}

.y36 {
	bottom: 578.568000px;
}

.yb {
	bottom: 592.671300px;
}

.ya {
	bottom: 631.141050px;
}

.y19 {
	bottom: 647.841825px;
}

.y9 {
	bottom: 653.144400px;
}

.y2e {
	bottom: 653.253000px;
}

.y8 {
	bottom: 743.248500px;
}

.y7 {
	bottom: 743.252175px;
}

.y35 {
	bottom: 743.392500px;
}

.y18 {
	bottom: 803.889825px;
}

.y6 {
	bottom: 809.138550px;
}

.y2d {
	bottom: 809.301000px;
}

.y5 {
	bottom: 869.154750px;
}

.y4 {
	bottom: 869.158875px;
}

.y34 {
	bottom: 869.298000px;
}

.y17 {
	bottom: 959.889825px;
}

.y3 {
	bottom: 965.146500px;
}

.y2c {
	bottom: 965.301000px;
}

.y2 {
	bottom: 995.148900px;
}

.y33 {
	bottom: 995.289000px;
}

.y15 {
	bottom: 1115.937825px;
}

.y1 {
	bottom: 1121.198700px;
}

.y2a {
	bottom: 1121.349000px;
}

.y32 {
	bottom: 1121.355000px;
}

.h9 {
	height: 6.000000px;
}

.ha {
	height: 8.550000px;
}

.hb {
	height: 15.534000px;
}

.h7 {
	height: 16.500000px;
}

.h5 {
	height: 16.834350px;
}

.h3 {
	height: 19.964000px;
}

.h6 {
	height: 20.832000px;
}

.h4 {
	height: 22.438000px;
}

.h2 {
	height: 24.304000px;
}

.h8 {
	height: 38.290023px;
}

.h1 {
	height: 1188.003000px;
}

.h0 {
	height: 1188.006000px;
}

.w7 {
	width: 6.000000px;
}

.w2 {
	width: 52.243042px;
}

.w6 {
	width: 158.656500px;
}

.w3 {
	width: 158.658000px;
}

.w4 {
	width: 158.677500px;
}

.w5 {
	width: 158.683500px;
}

.w8 {
	width: 403.950000px;
}

.w1 {
	width: 892.366500px;
}

.w0 {
	width: 892.911000px;
}

.x0 {
	left: 0.544500px;
}

.xb {
	left: 21.627292px;
}

.xe {
	left: 38.410350px;
}

.x14 {
	left: 42.525000px;
}

.x1 {
	left: 56.548800px;
}

.x13 {
	left: 118.335000px;
}

.x8 {
	left: 220.535250px;
}

.xa {
	left: 422.643008px;
}

.x12 {
	left: 446.475000px;
}

.x10 {
	left: 505.617000px;
}

.xf {
	left: 519.417000px;
}

.xc {
	left: 527.232000px;
}

.x5 {
	left: 530.225100px;
}

.x2 {
	left: 537.333300px;
}

.x3 {
	left: 558.429150px;
}

.x6 {
	left: 630.089400px;
}

.x9 {
	left: 638.176500px;
}

.x7 {
	left: 651.875250px;
}

.x4 {
	left: 658.534350px;
}

.xd {
	left: 688.894500px;
}

.x11 {
	left: 863.187000px;
}

@media print {
	.v0 {
		vertical-align: 0.000000pt;
	}

	.ls1 {
		letter-spacing: -1.001778pt;
	}

	.ls0 {
		letter-spacing: 0.000000pt;
	}

	.ls2 {
		letter-spacing: 0.128000pt;
	}

	.ws2 {
		word-spacing: -0.128000pt;
	}

	.ws0 {
		word-spacing: 0.000000pt;
	}

	.ws1 {
		word-spacing: 1.001778pt;
	}

	._3 {
		width: 18.972444pt;
	}

	._2 {
		width: 48.330667pt;
	}

	._5 {
		width: 238.954667pt;
	}

	._4 {
		width: 306.482667pt;
	}

	._1 {
		width: 413.918222pt;
	}

	._0 {
		width: 1020.177778pt;
	}

	.fs5 {
		font-size: 16.000000pt;
	}

	.fs0 {
		font-size: 20.444444pt;
	}

	.fs3 {
		font-size: 21.333333pt;
	}

	.fs2 {
		font-size: 23.111111pt;
	}

	.fs1 {
		font-size: 24.888889pt;
	}

	.fs4 {
		font-size: 29.361778pt;
	}

	.y0 {
		bottom: 0.000000pt;
	}

	.y2b {
		bottom: 0.641333pt;
	}

	.y4b {
		bottom: 2.009733pt;
	}

	.y1e {
		bottom: 3.215200pt;
	}

	.y16 {
		bottom: 5.190133pt;
	}

	.y4a {
		bottom: 21.733333pt;
	}

	.y14 {
		bottom: 35.490400pt;
	}

	.y13 {
		bottom: 36.105733pt;
	}

	.y1c {
		bottom: 159.990067pt;
	}

	.y12 {
		bottom: 160.316400pt;
	}

	.y11 {
		bottom: 163.330133pt;
	}

	.y31 {
		bottom: 163.466667pt;
	}

	.y29 {
		bottom: 173.501333pt;
	}

	.y49 {
		bottom: 178.298667pt;
	}

	.y28 {
		bottom: 190.846667pt;
	}

	.y48 {
		bottom: 195.644000pt;
	}

	.y27 {
		bottom: 208.178667pt;
	}

	.y47 {
		bottom: 212.976000pt;
	}

	.y26 {
		bottom: 225.506667pt;
	}

	.y46 {
		bottom: 230.302667pt;
	}

	.y25 {
		bottom: 242.852000pt;
	}

	.y45 {
		bottom: 247.648000pt;
	}

	.y24 {
		bottom: 260.184000pt;
	}

	.y44 {
		bottom: 264.980000pt;
	}

	.y10 {
		bottom: 277.379467pt;
	}

	.y20 {
		bottom: 288.162667pt;
	}

	.y23 {
		bottom: 288.166667pt;
	}

	.y40 {
		bottom: 292.958667pt;
	}

	.y43 {
		bottom: 292.964000pt;
	}

	.y1b {
		bottom: 298.562067pt;
	}

	.yf {
		bottom: 303.246800pt;
	}

	.y30 {
		bottom: 303.372000pt;
	}

	.y1f {
		bottom: 305.508000pt;
	}

	.y22 {
		bottom: 305.512000pt;
	}

	.y3f {
		bottom: 310.304000pt;
	}

	.y42 {
		bottom: 310.309333pt;
	}

	.y1d {
		bottom: 322.840000pt;
	}

	.y21 {
		bottom: 322.844000pt;
	}

	.y3e {
		bottom: 327.636000pt;
	}

	.y41 {
		bottom: 327.641333pt;
	}

	.ye {
		bottom: 340.046800pt;
	}

	.yd {
		bottom: 375.123600pt;
	}

	.y3d {
		bottom: 392.949333pt;
	}

	.y3c {
		bottom: 410.282667pt;
	}

	.y3b {
		bottom: 427.616000pt;
	}

	.y1a {
		bottom: 437.230067pt;
	}

	.yc {
		bottom: 441.910600pt;
	}

	.y2f {
		bottom: 442.040000pt;
	}

	.y3a {
		bottom: 444.962667pt;
	}

	.y39 {
		bottom: 462.282667pt;
	}

	.y38 {
		bottom: 479.616000pt;
	}

	.y37 {
		bottom: 496.949333pt;
	}

	.y36 {
		bottom: 514.282667pt;
	}

	.yb {
		bottom: 526.818933pt;
	}

	.ya {
		bottom: 561.014267pt;
	}

	.y19 {
		bottom: 575.859400pt;
	}

	.y9 {
		bottom: 580.572800pt;
	}

	.y2e {
		bottom: 580.669333pt;
	}

	.y8 {
		bottom: 660.665333pt;
	}

	.y7 {
		bottom: 660.668600pt;
	}

	.y35 {
		bottom: 660.793333pt;
	}

	.y18 {
		bottom: 714.568733pt;
	}

	.y6 {
		bottom: 719.234267pt;
	}

	.y2d {
		bottom: 719.378667pt;
	}

	.y5 {
		bottom: 772.582000pt;
	}

	.y4 {
		bottom: 772.585667pt;
	}

	.y34 {
		bottom: 772.709333pt;
	}

	.y17 {
		bottom: 853.235400pt;
	}

	.y3 {
		bottom: 857.908000pt;
	}

	.y2c {
		bottom: 858.045333pt;
	}

	.y2 {
		bottom: 884.576800pt;
	}

	.y33 {
		bottom: 884.701333pt;
	}

	.y15 {
		bottom: 991.944733pt;
	}

	.y1 {
		bottom: 996.621067pt;
	}

	.y2a {
		bottom: 996.754667pt;
	}

	.y32 {
		bottom: 996.760000pt;
	}

	.h9 {
		height: 5.333333pt;
	}

	.ha {
		height: 7.600000pt;
	}

	.hb {
		height: 13.808000pt;
	}

	.h7 {
		height: 14.666667pt;
	}

	.h5 {
		height: 14.963867pt;
	}

	.h3 {
		height: 17.745778pt;
	}

	.h6 {
		height: 18.517333pt;
	}

	.h4 {
		height: 19.944889pt;
	}

	.h2 {
		height: 21.603556pt;
	}

	.h8 {
		height: 34.035576pt;
	}

	.h1 {
		height: 1056.002667pt;
	}

	.h0 {
		height: 1056.005333pt;
	}

	.w7 {
		width: 5.333333pt;
	}

	.w2 {
		width: 46.438260pt;
	}

	.w6 {
		width: 141.028000pt;
	}

	.w3 {
		width: 141.029333pt;
	}

	.w4 {
		width: 141.046667pt;
	}

	.w5 {
		width: 141.052000pt;
	}

	.w8 {
		width: 359.066667pt;
	}

	.w1 {
		width: 793.214667pt;
	}

	.w0 {
		width: 793.698667pt;
	}

	.x0 {
		left: 0.484000pt;
	}

	.xb {
		left: 19.224260pt;
	}

	.xe {
		left: 34.142533pt;
	}

	.x14 {
		left: 37.800000pt;
	}

	.x1 {
		left: 50.265600pt;
	}

	.x13 {
		left: 105.186667pt;
	}

	.x8 {
		left: 196.031333pt;
	}

	.xa {
		left: 375.682674pt;
	}

	.x12 {
		left: 396.866667pt;
	}

	.x10 {
		left: 449.437333pt;
	}

	.xf {
		left: 461.704000pt;
	}

	.xc {
		left: 468.650667pt;
	}

	.x5 {
		left: 471.311200pt;
	}

	.x2 {
		left: 477.629600pt;
	}

	.x3 {
		left: 496.381467pt;
	}

	.x6 {
		left: 560.079467pt;
	}

	.x9 {
		left: 567.268000pt;
	}

	.x7 {
		left: 579.444667pt;
	}

	.x4 {
		left: 585.363867pt;
	}

	.xd {
		left: 612.350667pt;
	}

	.x11 {
		left: 767.277333pt;
	}
}