name: pull request
run-name: pull request
on: [pull_request]
permissions:
  contents: read
jobs:
  unit_test:
    name: Rust unit tests
    runs-on: [self-hosted, linux, x64]
    container:
      image: rust:1.77.0-alpine
    steps:
      - uses: actions/checkout@v4
      - run: apk add musl-dev
      - run: cargo test
  tarpaulin:
    name: Tarpaulin coverage
    runs-on: [self-hosted, linux, x64]
    container:
      image: rust:1.77.0-alpine
    steps:
      - uses: actions/checkout@v4
      - run: apk add pkgconfig openssl zlib
      - run: cargo install cargo-tarpaulin
      - run: cargo tarpaulin --ignore-tests
  clippy:
    name: Clippy
    runs-on: [self-hosted, linux, x64]
    container:
      image: rust:1.77.0-alpine
    steps:
      - uses: actions/checkout@v4
      - run: apk add musl-dev
      - run: rustup component add clippy
      - run: cargo clippy -- -D warnings
  fmt:
    name: rustfmt
    runs-on: [self-hosted, linux, x64]
    container:
      image: rust:1.77.0-alpine
    steps:
      - uses: actions/checkout@v4
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check
  audit:
    name: Cargo audit
    runs-on: [self-hosted, linux, x64]
    container:
      image: rust:1.77.0-alpine
    steps:
      - uses: actions/checkout@v4
      - run: apk add musl-dev
      - run: cargo install cargo-audit
      - run: cargo audit --ignore RUSTSEC-2023-0028 --ignore RUSTSEC-2023-0050 --ignore RUSTSEC-2023-0081 --ignore RUSTSEC-2021-0146 --ignore RUSTSEC-2021-0145