name: release
run-name: release assets
on:
  push:
    tags: ["v*.*.*"]
permissions:
  contents: write
jobs:
  build:
    name: Compile and build wasm
    runs-on: [self-hosted, linux, x64]
    container:
      image: rust:1.77.0-alpine
    steps:
      - uses: actions/checkout@v4
      - run: apk add musl-dev tar zip
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo install -f wasm-bindgen-cli --version 0.2.92
      - run: cargo install -f wasm-pack
      - run: wasm-pack build -m no-install --no-typescript -t web --dev -d wasm --out-name wasm --no-pack
      - run: rm -r src target Cargo.* *.sh rustfmt.toml
      - run: tar -czvf Simon-s-html-front-end-for-MPMBs-Character-Record-Sheet-${{github.ref_name}}.tar.gz *
      - run: zip -r Simon-s-html-front-end-for-MPMBs-Character-Record-Sheet-${{github.ref_name}}.zip * -x *.tar.gz
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            *.tar.gz
            *.zip